{% if objets[0] is defined and objets[0].ActionsTableau() is defined %}
	<div class="d-flex gap-2 justify-content-start flex-shrink-0">
		{% for label, bouton in objets[0].ActionsTableau() %}
			<a href="{{ bouton.url|interpolate }}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-title="{{ bouton.texte is defined ? bouton.texte : label }}" {{ bouton.target is defined ? 'target="' ~ bouton.target ~ '"' : '' }} {{ bouton.turbo is defined and bouton.turbo == false ? 'data-turbo="false"' : '' }}>
				{% if bouton.icon is defined and bouton.icon != '' %}
					<i class="{{ bouton.icon }}"></i>
				{% else %}
					{{ label }}
				{% endif %}
			</a>
		{% endfor %}
	</div>
{% endif %}
