<td>
	{# si on a pas de données #}
	{% if (attribute(ligne, fieldName)|length) %}
		{{ attribute(ligne, fieldName)|length }}
		<a href="{{ path('dashboard_list_entities_parent', {'parent': source, 'parentid': ligne.id, 'entity': target} ) }}" data-bs-toggle="tooltip" data-bs-title="voir les <b>{{ target~'s' }}</b> de ce <b>{{ source }}</b>" data-turbo="false" class="text-decoration-none">
			<i class="bi bi-arrow-right-circle"></i>
		</a>
	{% else %}
		<a href="{{ path('dashboard_create_child_entity', { entityParent: source, entityParentId: ParentId, entity: target }) }}" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-title="Ajouter un objet <b>{{ target }}</b> descendant du  même <b>{{ source }}</b> " data-turbo="false">
			<i class="bi bi-plus"></i>
		</a>
	{% endif %}
</td>
