<div class="d-flex gap-2 flex-shrink-0">
	{% if app.request.get('parent')  is not null   %}
		<a class="btn btn-primary ms-4" href="{{ path('dashboard_create_child_entity', {'entity': entity, 'entityParent': app.request.get('parent'), 'entityParentId': app.request.get('parentid')}) }}" data-turbo="false">
			Ajouter un enfant
		</a>
		<a href="{{ path('dashboard_list_entities', {'entity': app.request.get('parent') }) }}" class="btn btn-primary" data-turbo="false">Retour vers le Parent
			{{app.request.get('parent') ~ '-' ~ app.request.get('parentid')}}
		</a>
	{% else %}

		<a class="btn btn-primary ms-4" href="{{ path('dashboard_create_entity', {'entity': entity}) }}" data-turbo="false">
			Ajouter un
			{{ entity|split('\\')|last }}
		</a>

		{% if cruds['ActionsTableauEntite'] is defined %}
			{% for label,bouton in cruds['ActionsTableauEntite'] %}
				<a href="{{ bouton.url|interpolate }}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-title="{{ bouton.texte is defined ? bouton.texte : label }}" {{ bouton.target is defined ? 'target="' ~ bouton.target ~ '"' : '' }} {{ bouton.turbo is defined and bouton.turbo == false ? 'data-turbo="false"' : '' }}>
					{% if bouton.icon is defined and bouton.icon != '' %}
						<i class="{{ bouton.icon }}"></i>
					{% else %}
						{{ label }}
					{% endif %}
				</a>
			{% endfor %}
		{% endif %}

	{% endif %}
</div>
