{% if (objects[0].fieldsCrud)|default == ''  %}
	<div class="alert alert-warning" role="alert">
		L'entité n'a pas de méthode fieldsCrud.
	</div>
{% endif %}

<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			{% for field in objects[0].fieldsCrud|default %}
				<th>{{ field }}</th>
			{% endfor %}
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for object in objects %}
			<tr>
				<td>{{ object.id }}</td>
				{% for field in objects[0].fieldsCrud|default %}
					{% if field|slice(-1) == '*' %}
							{% set champ = field|slice(0, -1) %}
							{% else %}
							{% set champ = field %}
					{% endif %}
					{% set texte=attribute(object, champ)|raw %}
					{% if texte|length > 10 %}
						<td data-controller="tooltip" data-tooltip-html="texte">{{texte|u.truncate(8, '...')}}</td>
					{% else %}
						{% if field|slice(-1) == '*' %}
							<td contenteditable="true"  data-controller="editable" data-editable-url-value="{{ path('admin_update_field')}}" data-editable-id-value="{{ object.id }}" data-editable-entity-value="{{ entity }}" data-editable-field-value="{{ champ }}" >{{texte}}</td>
							{% else %}
							<td>{{texte}}</td>
						{% endif %}
					{% endif %}
				{% endfor %}
				<td>
					<button class="btn btn-danger btn-sm" >Supprimer</button>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
