{% if (objects[0].fieldsCrud)|default == ''  %}
	<div class="alert alert-warning" role="alert">
		L'entité n'a pas de méthode fieldsCrud.
	</div>
{% endif %}

<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			{% for field in objects[0].fieldsCrud|default %}
				{% if field|slice(-1) == '*' or field|slice(-1) == '#' %}
					{% set field = field|slice(0, -1) %}
				{% endif %}
				<th>{{ field }}</th>
			{% endfor %}
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for object in objects %}
			<tr>
				<td>{{ object.id }}</td>

				{% for field in objects[0].fieldsCrud|default %}
					{% set champ=field %}
					{% if field|slice(-1) == '*' %}
						{% set champ = field|slice(0, -1) %}
						<td contenteditable="true" data-entity="{{ entity }}" data-field="{{ champ }}" data-id="{{ object.id }}" data-action="blur->admin#updateField">
							{{  attribute(object, champ) }}
						</td>
					{% elseif field|slice(-1) == '#' %}
						{% set champ = field|slice(0, -1) %}
						<td {{ stimulus_controller('tooltip',{'html':attribute(object, champ)|raw} ) }} ">
							{{  attribute(object, champ)|slice(0, 10) }}
						</td>
					{% else %}
						<td>
							{{  attribute(object, champ) }}
						</td>
					{% endif %}

				{% endfor %}
				<td>
					<button class="btn btn-danger btn-sm" data-entity="{{ entity }}" data-id="{{ object.id }}" data-action="click->admin#deleteEntity">Supprimer</button>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
