{% set icons = {
    'pdf': 'bi-file-earmark-pdf text-danger',
    'txt': 'bi-file-earmark-text text-primary',
    'doc': 'bi-file-earmark-word text-primary',
    'docx': 'bi-file-earmark-word text-primary',
    'xls': 'bi-file-earmark-excel text-success',
    'xlsx': 'bi-file-earmark-excel text-success',
    'csv': 'bi-file-earmark-spreadsheet text-success',
    'zip': 'bi-file-earmark-zip text-secondary',
    'rar': 'bi-file-earmark-zip text-secondary',
    'mp3': 'bi-file-earmark-music text-info',
    'wav': 'bi-file-earmark-music text-info',
    'mp4': 'bi-file-earmark-play text-dark',
    'avi': 'bi-file-earmark-play text-dark',
    'mov': 'bi-file-earmark-play text-dark'
} %}

{% set isImage = block.data.file.extension in ['jpg', 'jpeg', 'png', 'gif', 'webp'] %}
{% set icon = isImage ? 'bi-file-earmark-image text-warning' : icons[block.data.file.extension]|default('bi-paperclip text-muted') %}

<div class="card shadow-sm mb-3 editorjs-block-attaches">
	<div class="card-body d-flex align-items-center">
		<i class="{{ icon }} me-3 fs-2"></i>
		<div class="flex-grow-1">
			<h6 class="card-title mb-0">
				<a href="{{ block.data.file.url }}" download class="text-decoration-none">
					{{ block.data.file.name }}
				</a>
			</h6>
			<small class="text-muted">{{ (block.data.file.size / 1024)|round(2) }}
				KB</small>
		</div>

		{# Affichage de la miniature uniquement si c'est une image #}
		{% if isImage %}
			<img src="{{ block.data.file.url }}" alt="Image preview" class="rounded ms-3" style="width: 50px; height: 50px; object-fit: cover;">
		{% endif %}
	</div>
</div>
