<div class="d-flex justify-content-end mb-2">
	{% if parent  is null %}
		<form method="post" action="{{ path('dashboard_create_entity', {'entity': entity}) }}">
			<button type="submit" class="btn btn-primary">Ajouter</button>
		</form>
	{% else %}
		<a href="{{ path('dashboard_list_entities', {'entity': parent }) }}" class="btn btn-primary">Retour vers le Parent
			{{parent}}</a>
	{% endif %}
</div>
{% if objects is not empty %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				{% for field in objects[0].fieldsCrud|default %}
					<th>{{ field }}</th>
				{% endfor %}
				{% for association in associations %}
					<th>{{ association.fieldName }}</th>
				{% endfor %}
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for object in objects|sort %}
				<tr id="ligne_{{ object.id }}">
					<td>{{ object.id }}</td>
					{% for field in objects[0].fieldsCrud|default %}
						{# initialisation #}
						{% if field|slice(-1) == '*' %}
							{% set champ = field|slice(0, -1) %}
							{% set type = objectsType[champ] %}
							{% set texte=attribute(object, champ)|raw %}
							{% if type == "text" %}
								<td>
									<button type="button" class="btn btn-sm btn-secondary" data-controller="texteditable" data-texteditable-content-value="{{attribute(object, champ)}}" data-texteditable-url-value="{{ path('dashboard_update_field', {'entity': entity, 'field': champ, 'id': object.id})}}">
										<span class="bi bi-pencil"></span>
									</button>
									<button class="btn btn-xs no-button" data-controller="editorjsrendu" data-editorjsrendu-url-value="{{ path('dashboard_get_entity', {'entity': entity, 'id': object.id,'field': champ })}}">
										<i class="bi bi-search"></i>
									</button>
								</td>
							{% elseif type == "html" %}
								<td>html</td>
							{% elseif type == "date" %}
								<td>
									<input type="date" value="{{texte|date('d/m/Y')}}">
								</td>
							{% elseif type == "enum" %}
								<td>
									<select data-controller="editable" data-editable-url-value="{{ path('dashboard_update_field', {'entity': entity, 'field': champ, 'id': object.id})}}">
										{% for case,valeur in objectsValues[champ] %}
											<option name="{{case}}" value="{{valeur}}" {% if valeur == attribute(object, champ).value %} selected {% endif %}>{{valeur}}</option>
										{% endfor %}
									</select>
								</td>
							{% else %}
								<td contenteditable="true" data-controller="editable" data-editable-url-value="{{ path('dashboard_update_field', {'entity': entity, 'field': champ, 'id': object.id})}}">{{texte}}</td>
							{% endif %}
						{% else %}
							{% set champ = field %}
							{% set texte=attribute(object, champ)|raw %}
							{% if texte|length > 25 %}
								<td>
									<span data-controller="tooltip" data-tooltip-html-value="{{texte}}">{{texte|u.truncate(8, '...')}}</span>
								</td>
							{% else %}
								<td>{{ texte }}</td>
							{% endif %}
						{% endif %}
					{% endfor %}
					{% for entityParent,association in associations %}
						{% set typeAssociation = constant('class',association)|split('\\')|last %}
						<td>
							{% for item in attribute(object, association.fieldName) %}
								<a href="{{ path('dashboard_list_entities', {'entity': association.targetEntity|split('\\')|last, 'id': item.id}) }}">
									{{ item.__toString is defined  and item.__toString() != '' ? item.__toString() : item.id }}
								</a>
							{% endfor %}
							{% if typeAssociation != "ManyToOneAssociationMapping"  %}
								<form method="post" class="d-inline" action="{{ path('dashboard_create_child_entity', {'entity': association.targetEntity|split('\\')|last, 'entityParentId': object.id, 'entityParent': entityParent }) }}">
									<button type="submit" class="btn btn-xs no-button">
										<i class="bi bi-plus"></i>
									</button>
								</form>
							{% else %}
								{% set item = attribute(object, association.fieldName) %}
								{{ item.__toString is defined  and item.__toString() != '' ? item.__toString() : item.id }}
							{% endif %}
						</td>
					{% endfor %}
					<td>
						<button class="btn btn-danger btn-sm" data-controller="form" data-form-confirmation-value="true" data-form-parent-value="#ligne_{{ object.id }}" data-form-url-value="{{ path('dashboard_delete_entity', {'entity': entity, 'id': object.id })}}" data-form-method-value="DELETE">Supprimer</button>
					</td>


				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
