{% extends 'dashboard_base.html.twig' %}

{% block title %}Admin Dashboard
{% endblock %}

{% block body %}
	<div class="container-fluid mt-2">
		<div
			class="row">
			<!-- Sidebar -->

			<nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar mt-5" data-turbo="false">

				<div class="position-sticky">
					<a class="btn btn-outline-primary btn-sm mt-2" href="{{ path('dashboard_index') }}">Tableau de bord</a>
					<ul class="nav flex-column">
						{% for entite in entities|sort %}
							<li class="nav-item">
								<a class="nav-link " href="{{ path('dashboard_list_entities', { entity: entite }) }}">{{ entite == (entity|default) ? '<span class="bi bi-arrow-right"></span>' : '' }}{{ entite }}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</nav>

			<!-- Content -->
			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				<h2>
					{{ entity is defined?	'Les données: ' ~entity :'Tableau de bord'}}</h2>

				{% if entity is defined %}
					<turbo-frame id="entity_list">
						{{include('/dashboard/entity_list.html.twig')}}
					</turbo-frame>

				{% endif %}
			</main>
			<div class="mt-5" id="preview"></div>
		</div>
	</div>
{% endblock %}
