{% macro th(field, datas,ordre,class) %}
	{% set texte = '' %}
	{% if datas.crud.label is defined and datas.crud.label %}
		{% set texte = datas.crud.label%}
	{% else %}
		{% set texte = field %}
	{% endif %}

	{# si on a une demande d'affichage de tooltip dans cruds #}
	<th
		{% if datas.crud.tooltip is defined and datas.crud.tooltip %} data-bs-toggle="tooltip" data-bs-title="{{ datas.crud.tooltip }}" {% endif %}>

		{# lien pour le tri si pas Ordre #}
		{% if not ordre  and datas.type not in ['text'] %}
			<a class="{{class}} text-decoration-none cursor-pointer position-relative d-inline-block" href="{{ path( app.request.attributes.get('_route'), app.request.attributes.get('_route_params') | merge( app.request.query.all | merge({ 'tri': field, 'ordre': app.request.get('tri') == field ? (app.request.get('ordre') == 'desc' ? 'asc' : 'desc') : (field == 'id' ? 'desc' : 'asc') }) ) ) }}" data-turbo="false" data-controller="addrecherche" data-action="click->addrecherche#click">
				{{texte|raw}}
				{% if app.request.get('tri') == field %}
					{# Cas normal : tri actif sur ce champ #}
					<span class="position-absolute top-0 start-100 translate-middle-x small text-muted ms-2">
						{% if app.request.get('ordre') == 'desc' %}
							<i class="bi bi-caret-up-fill"></i>
						{% else %}
							<i class="bi bi-caret-down-fill"></i>
						{% endif %}
					</span>
				{% elseif field == 'id' and not app.request.get('tri') %}
					{# Cas particulier : pas de tri défini, on affiche caret down sur id #}
					<span class="position-absolute top-0 start-100 translate-middle-x small text-muted ms-2">
						<i class="bi bi-caret-down-fill"></i>
					</span>
				{% endif %}
			</a>
		{% else %}
			{{texte|raw}}
		{% endif %}
	</th>
{% endmacro %}
